@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-oswald), ui-sans-serif, system-ui, sans-serif;
  --color-uhf-black: #09090b;
  --color-uhf-gray: #27272a;
  --color-uhf-light: #f4f4f5;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}